<!-- views/partials/header.ejs -->

<div class="nameplate">Kyle Martin</div>
<div>
	<a href="/" class="subnav">Home</a>
	|
	<a href="about" class="subnav">About</a>
	|
	<a href="resume" class="subnav">Resume</a>
</div>