<!-- views/partials/header.ejs -->

<div>
	<span class="nameplate">Kyle Martin</span>
	<span class="about" style="padding-left: 5px;">Software Developer | Mountain Biker | Outdoors Enthusiast</span>
</div>

<div>
	<a href="/" class="subnav">Home</a>
	|
	<a href="about" class="subnav">About</a>
	|
	<a href="resume" class="subnav">Resume</a>
</div>