<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <%- include ('partials/head') %>
</head>

<body>

<main>
        <div class="error">Error 404 - Page Is Nowhere to be Found</div>
</main>

</body>
</html>