<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>500</title>
    <%- include ('partials/head') %>
</head>

<body>

<main>
        <div class="error">Error 500 - Something Has Gone Terribly Wrong</div>
</main>

</body>
</html>