<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Martinky Dot Me</title>
    <%- include ('../partials/head') %>
</head>
<body class="container" style="max-width:70%">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
        <div class="subtitle">Personal</div>

		<img src="resources/me2.jpeg" class="rounded" align="right" alt="dog" width="200px">

        <p>After growing up in the Washington DC suburbs and then living in the Chicago area for a few years, I recently moved to Tucson, Arizona to escape the cold winters and explore a new part of the country. I am a big fan of the diversity, culture, and endless outdoor opportunities here in Tucson. 
        <br><br>
		I am an avid runner and I have ran a handful of marathons, including Chicago 2019. Since moving to Arizona I have been getting more into mountain biking as well (follow me on <a href="https://www.strava.com/athletes/20473650">Strava</a>!). Most days I unwind by spending some time at local dog parks with my dog <a href="resources/louie.jpeg">Louie</a>. On weekends, I try to involved with volunteer work focused on trail maintenance in the greater Tucson area (<a href="https://torca.org/">TORCA</a>, <a href="https://sonorandesertmountainbicyclists.wildapricot.org/">SDMB</a>). 
		</p>


        <div class="subtitle">Professional</div>

		<!-- <p>I am presently a Quality Assurance Engineer for Wolfram Research, Inc., working to ensure that <a href="https://www.wolfram.com/mathematica/">Mathematica</a> (a programming language primarily used in scientific computing and research) produces correct and performant results. I am the lead tester for the core language (essentially what other languages call their standard library), cryptography, mathematical visualization and system interfacing functionality in the program. All in all I personally oversee and maintain over 100,000 regression tests. I also focus on fault isolation, researching potential bug fixes, and extending coverage of existing tests. </p>-->
        <p>
		I am presently a software developer at <a href="https://www.geost.com/">GEOST</a>, working with telescopes, cameras, and sensors that usually are on or interact with satellites. I have degrees in mathematics (<a href="https://cnu.edu/">CNU</a>) and computer science (<a href="https://oregonstate.edu/">OSU</a>). My personal interests lean toward exploring methods in scientific computing (particularly cryptography, numerical analysis, among other topics) and learning new programming languages. Previously I've worked at <a href="https://www.wolfram.com/">Wolfram Research</a>, helping build the scientific computing software <a href="https://www.wolfram.com/mathematica/">Mathematica.</a></p>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>