<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Martinky Dot Me</title>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
    	text text text
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>