<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Martinky Dot Me</title>
    <%- include ('../partials/head') %>
</head>
<body class="container" style="max-width:60%">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
        <img src="resources/mountains.jpg" class="img-fluid" alt="Along Mt. Lemmon Highway" style="padding-top: 6px">
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>