<!-- views/pages/resume.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kyle's Resume</title>
    <%- include ('../partials/head') %>

    <style type="text/css">
    main {
        background-color: White;
    }

    .container {
        width: 900px; 
    }

    #Name {
        font-size: 72px;
    }

    .subItem {
        font-size: 19px;
    }

    .subsubItem {
        font-size: 17px;
    }

    .icon {
        width: 19px;
        margin-right: 10px;
        margin-left: 10px;
    }

    a:link, a:visited, a:hover, a:active {
        color: black;
    }

    .headerItem {
        padding-top: 15px;
        font-size: 44px;
    }

    .contentItem {
        font-size: 14px;
    }

    .secondary{
        margin-left: 10px;
        font-size: 20px;
    }

    .righta {
        text-align: right;
    }

    </style>
</head>


<body class="container">

<main>
    <div class="container">
        <div class="row">
            <div class="col" style="padding-left: 0px">
                <h1 id="Name">Kyle Martin</h1>
                <p>Full stack software developer with a mathematics/computer science background solving complex technical problems in the expanding space domain.</p>
            </div>
            <!-- icons https://www.flaticon.com/packs/multimedia-collection -->
            <div class="col-4">
                <h5 class="h5 subItem righta"><a href="mailto:martinky24@gmail.com">martinky24@gmail.com<img class="icon" src="icons/mail.svg"></a><h5>
                <h5 class="h5 subItem righta"><a href="tel:301-448-6718">301-448-6718<img class="icon" src="icons/phone.svg"></a></h5>
                <h5 class="h5 subItem righta"><a href="http://martinky.me">martinky.me<img class="icon" src="icons/monitor.svg"></a></h5>
                <h5 class="h5 subItem righta"><a href="https://goo.gl/maps/qXaryeRDs7naJjPJ7">Tucson, AZ<img class="icon" src="icons/pin.svg"></a></h5>
                <h5 class="h5 subItem righta"><a href="https://github.com/martinky24">martinky24<img class="icon" src="icons/github.svg"></a></h5>
                <!--<h5 class="h5 subItem righta"><a href="https://mathematica.stackexchange.com/users/34161/ktm">ktm<img class="icon" src="icons/so.svg"></a></h5>-->
            </div>
        </div>
    </div>

    <div>
        <h1 class="headerItem">Work Experience</h1>
        <div>
            <a class="h4" href="https://geost.com/">GEOST</a>
            <span class="text-muted secondary">Tucson, AZ</span>

            <div><span class="subItem">Senior Software Developer</span> <span class="text-muted">03/2021 - Present</span></div>
            <ul>
                <li class="subsubItem">Software lead responsible for architecting and developing fully autonomous ground-based optical observatory systems for the space domain awareness problem space, primarily using a Python-based stack</li>
                <li class="subsubItem">Design and implement programmatic interfaces to off the shelf hardware through a variety of protocols</li>
                <li class="subsubItem">Design and implement image and data processing pipelines for data product handling </li>
                <li class="subsubItem">Effectively balance scientific requirements with hardware and software limitations for optimized results</li>
                <li class="subsubItem">Received company President's Award for outstanding technical contributions in 2021</li>
            </ul>

            <a class="h4" href="https://wolfram.com/">Wolfram Research, Inc.</a>
            <span class="text-muted secondary">Champaign, IL</span>

            <div><span class="subItem">Quality Assurance Engineer</span> <span class="text-muted">2018 - 2021</span></div>
            <ul>
                <li class="subsubItem">Maintain and enhance thousands of automated functional and performance tests for visualization, system interfacing, and cryptography functionality in Mathematica and the Wolfram Language</li>
                <li class="subsubItem">Track and report numerous bugs, including root cause analysis when possible, and suggesting fixes where appropriate</li>
                <li class="subsubItem">Active participant in code reviews of new features, bug fixes, tests, and testing tools</li>
            </ul>

            <div style="margin-top: 20px"><span class="subItem">Wolfram Technology Engineer Lead</span> <span class="text-muted">2015 - 2018</span></div>
            <ul>
                <li class="subsubItem">Managed group of 4-6 engineers, ensuring they had the resources and support to achieve their objectives</li>
                <li class="subsubItem">Presented in weekly meetings with higher level managers to discuss my team's general progress</li>
                <li class="subsubItem">Provided consulting for customers on effective and efficient use of the Wolfram Language and Wolfram products</li>
                <li class="subsubItem">Demonstrated problem solving skills in a wide variety of fields inlcuding mathematics, programming and engineering</li>
            </ul>
        </div>

        <div>
            <a class="h4" href="https://cnu.edu/" style="margin-top: 30px">Christopher Newport University</a>
            <span class="text-muted secondary">Newport News, VA</span>

            <div><span class="subItem">Undergraduate Research in Factorization and Primality Testing and Optimization</span> <span class="text-muted">2014-2015</span></div>
            <ul>
                <li class="subsubItem">Focused on the algorithmic aspects of problem solving in algebraic contexts</li>
                <li class="subsubItem">Explored factorization and primality testing algorithms and their implementations</li>
                <li class="subsubItem">Studied under Dr. Matthew Comer</li>
            </ul>
        </div>
    </div>

    <div>
        <h1 class="headerItem">Education</h1>
        <div>
            <a class="h4" href="https://oregonstate.edu/">Oregon State University</a>
            <span class="text-muted secondary">Corvallis, OR</span>

            <div><span class="subItem">Bachelor of Science in Computer Science</span> 
                <span class="text-muted">2018-2020</span>
            <ul>
                <li class="subsubItem">Notable coursework includes algorithm design and analysis, data structures, computer networking, cryptography, parallel programming, computer architecture, web development, databases</li>
            </ul>
        </div>

        <div style="margin-top: 30px">
            <a class="h4" href="https://cnu.edu/">Christopher Newport University</a>
            <span class="text-muted secondary">Newport News, VA</span>

            <div><span class="subItem">Bachelor of Science in Mathematics</span> 
                <span class="text-muted">2011-2015</span>
            <ul>
                <li class="subsubItem">Received departmental award at graduation for being an involved and committed student of mathematics</li>
            </ul>
        </div>
    </div>

    <div>
        <h1 class="headerItem">Skills</h1>
        <!-- ToString /@ {items}; StringRiffle[Sort@#, ", "] -->
        <div class="subItem">Familiar technologies:</div>
        <div class="subsubItem" style="margin: 5px 30px">Bash, C, C++, CUDA, Git, HTML, JSON, Linux, macOS, Mathematica, Node.js, PostgreSQL, Python, SQL, Vim, Windows, YAML</div>

        <div class="subItem">Additional skills:</div>
        <div class="subsubItem" style="margin: 5px 30px">Scientific computation, space domain awareness, data visualization, problem solving, technical communication</div>
    </div>
</main>

<footer>
    <%# include ('../partials/footer') %>
</footer>

</body>
</html>