{{define "head"}}
<meta charset="UTF-8">

<!-- https://getbootstrap.com/docs/4.5/getting-started/introduction/#responsive-meta-tag -->

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css">


<!-- Fonts -->
<!-- https://fonts.google.com/specimen/EB+Garamond?category=Serif&preview.text=Kyle+Martin&preview.text_type=custom&sidebar.open=true&selection.family=EB+Garamond#standard-styles -->
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
{{end}}


{{define "header"}}
<div>
	<span class="nameplate">Kyle Martin</span>
	<span class="about" style="padding-left: 5px;">Software Developer | Mountain Biker | Outdoors Enthusiast</span>
</div>

<div>
	<a href="/" class="subnav">Home</a>
	|
	<a href="about" class="subnav">About</a>
	|
	<a href="resume" class="subnav">Resume</a>
</div>
{{end}}


{{define "footer"}}
<footer>
	<p class="text-center footer">© Copyright 2023 Kyle Martin</p>
</footer>
{{end}}
