{{define "/resume.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kyle's Resume</title>
    {{template "head"}}

    <style type="text/css">
        main {
            background-color: White;
        }

        .container {
            width: 900px;
        }

        #Name {
            font-size: 64px;
        }

        .subItem {
            font-size: 18px;
        }

        .subsubItem {
            font-size: 16px;
        }

        .icon {
            width: 19px;
            margin-right: 10px;
            margin-left: 10px;
        }

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: black;
        }

        .headerItem {
            padding-top: 10px;
            font-size: 40px;
        }

        .contentItem {
            font-size: 14px;
        }

        .secondary {
            margin-left: 10px;
            font-size: 20px;
        }

        .righta {
            text-align: right;
        }
    </style>
</head>


<body class="container" style="padding-top: 60px">

    <main>
        <div class="container">
            <div class="row">
                <div class="col" style="padding-left: 0px">
                    <h1 id="Name">Kyle Martin</h1>
                    <p>Seasoned full-stack software developer with a strong background in computer
                        science and mathematics, with a TS/SCI clearance. Leveraging extensive expertise in addressing
                        novel
                        technical challenges within the expanding space domain.</p>
                </div>
                <!-- icons https://www.flaticon.com/packs/multimedia-collection -->
                <div class="col-4">
                    <h5 class="h5 subItem righta"><a href="mailto:martinky24@gmail.com">martinky24@gmail.com<img
                                class="icon" src="static/icons/mail.svg"></a>
                        <h5>
                            <h5 class="h5 subItem righta"><a href="tel:301-448-6718">301-448-6718<img class="icon"
                                        src="static/icons/phone.svg"></a></h5>
                            <h5 class="h5 subItem righta"><a href="http://martinky.me">martinky.me<img class="icon"
                                        src="static/icons/monitor.svg"></a></h5>
                            <h5 class="h5 subItem righta"><a href="https://goo.gl/maps/qXaryeRDs7naJjPJ7">Tucson, AZ<img
                                        class="icon" src="static/icons/pin.svg"></a></h5>
                            <h5 class="h5 subItem righta"><a href="https://github.com/martinky24">martinky24<img
                                        class="icon" src="static/icons/github.svg"></a></h5>
                </div>
            </div>
        </div>

        <div>
            <h1 class="headerItem">Work Experience</h1>
            <div>
                <a class="h4" href="https://rebelliondefense.com/">Rebellion Defense</a>

                <div><span class="subItem">Software Engineer</span> <span class="text-muted">06/2022 - Present</span>
                </div>
                <ul>
                    <li class="subsubItem">Contributed to the development of a distributed, system-of-systems simulation
                        framework for training and validating ML models utilized in autonomous vehicle technology</li>
                    <li class="subsubItem">Engineered robust and flexible geospatial-data-driven web backends
                        using FastAPI and PostGIS, optimized for speed and rapid iteration to support high-performance
                        front end interfaces</li>
                    <li class="subsubItem">Led the integration of third-party models to expand simulation engine
                        functionality and capabilities</li>
                    <li class="subsubItem">Collaborated on the implementation of complex RF and EW driven algorithms to
                        ensure optimal efficiency and effectiveness</li>
                    <li class="subsubItem">Built complex systems in modern, cloud-based tooling including Go, Python,
                        AWS, RabbitMQ, gRPC, etc...</li>
                </ul>

                <a class="h4" href="https://geost.com/">GEOST</a>

                <div><span class="subItem">Senior Software Developer</span> <span class="text-muted">03/2021 -
                        06/2022</span></div>
                <ul>
                    <li class="subsubItem">Software lead responsible for architecting and developing fully autonomous
                        ground-based optical observatory systems for the space domain awareness problem space, primarily
                        using a Python-based stack</li>
                    <li class="subsubItem">Designed and implemented programmatic interfaces to off the shelf hardware
                        through a variety of protocols</li>
                    <li class="subsubItem">Designed and implemented image and data processing pipelines to extract and
                        deliver the right data to the customer</li>
                    <li class="subsubItem">Pushed for and lead adoption of improved CI/CD workflows across company to
                        improve quality of both code and deliverables</li>
                    <li class="subsubItem">Received company President's Award for outstanding technical contributions in
                        2021</li>
                </ul>

                <a class="h4" href="https://wolfram.com/">Wolfram Research, Inc.</a>

                <div><span class="subItem">Quality Assurance Engineer</span> <span class="text-muted">2018 - 2021</span>
                </div>
                <ul>
                    <li class="subsubItem">Maintained and enhanced thousands of automated functional and performance
                        tests for visualization, system interfacing, and cryptography functionality in Mathematica and
                        the Wolfram Language</li>
                    <li class="subsubItem">Tracked and reported numerous bugs, including root cause analysis when
                        possible,
                        and suggesting fixes where appropriate</li>
                </ul>

                <div style="margin-top: 16px"><span class="subItem">Lead Technology Engineer</span> <span
                        class="text-muted">2015 - 2018</span></div>
                <ul>
                    <li class="subsubItem">Provided consulting for customers on effective and efficient use of the
                        Wolfram Language and Wolfram products</li>
                    <li class="subsubItem">Managed group of 4-6 engineers, ensuring they had the resources and support
                        to achieve their objectives</li>
                </ul>
            </div>

            <div>
                <a class="h4" href="https://cnu.edu/" style="margin-top: 30px">Christopher Newport University</a>
                <span class="text-muted secondary">Newport News, VA</span>

                <div><span class="subItem">Undergraduate Research in Factorization and Primality Testing and
                        Optimization</span> <span class="text-muted">2014-2015</span></div>
                <ul>
                    <li class="subsubItem">Explored factorization and primality testing algorithms and their
                        implementations</li>
                </ul>
            </div>
        </div>

        <div>
            <h1 class="headerItem">Education</h1>
            <div>
                <a class="h4" href="https://oregonstate.edu/">Oregon State University</a>
                <span class="text-muted secondary">Corvallis, OR</span>

                <div><span class="subItem">Bachelor of Science in Computer Science</span>
                    <span class="text-muted">2018-2020</span>
                </div>

                <div style="margin-top: 20px">
                    <a class="h4" href="https://cnu.edu/">Christopher Newport University</a>
                    <span class="text-muted secondary">Newport News, VA</span>

                    <div><span class="subItem">Bachelor of Science in Mathematics</span>
                        <span class="text-muted">2011-2015</span>
                    </div>
                </div>

                <div>
                    <h1 class="headerItem">Skills</h1>
                    <!-- ToString /@ {items}; StringRiffle[Sort@#, ", "] -->
                    <div class="subItem">Familiar technologies:</div>
                    <div class="subsubItem" style="margin: 5px 30px">AWS, Bash, Docker, Git, Go, gRPC, Linux,
                        Mathematica, PostgreSQL, PostGIS, protobuf, Python, RabbitMQ, Regex</div>

                    <div class="subItem">Additional skills:</div>
                    <div class="subsubItem" style="margin: 5px 30px">Scientific computing, space domain awareness, data
                        visualization, problem solving, technical communication</div>
                </div>
    </main>

</body>

</html>
{{end}}